/* Webfont: MeshedDisplay-LightSlanted */@font-face {
    font-family: 'MeshedDisplayLightSlant';
    src: url('MeshedDisplay-LightSlanted.eot'); /* IE9 Compat Modes */
    src: url('MeshedDisplay-LightSlanted.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MeshedDisplay-LightSlanted.woff') format('woff'), /* Modern Browsers */
         url('MeshedDisplay-LightSlanted.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-LightSlanted.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

