/* Webfont: MeshedDisplay-Slanted */@font-face {
    font-family: 'MeshedDisplaySlant';
    src: url('MeshedDisplay-Slanted.eot'); /* IE9 Compat Modes */
    src: url('MeshedDisplay-Slanted.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MeshedDisplay-Slanted.woff') format('woff'), /* Modern Browsers */
         url('MeshedDisplay-Slanted.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-Slanted.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

