/* Webfont: MeshedDisplay-ExtBdSlant */@font-face {
    font-family: 'MeshedDisplayExtBdSlant';
    src: url('MeshedDisplay-ExtBdSlant.eot'); /* IE9 Compat Modes */
    src: url('MeshedDisplay-ExtBdSlant.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MeshedDisplay-ExtBdSlant.woff') format('woff'), /* Modern Browsers */
         url('MeshedDisplay-ExtBdSlant.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-ExtBdSlant.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

