/* Webfont: MeshedDisplay-ThinSlanted */@font-face {
    font-family: 'MeshedDisplayThinSlant';
    src: url('MeshedDisplay-ThinSlanted.eot'); /* IE9 Compat Modes */
    src: url('MeshedDisplay-ThinSlanted.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MeshedDisplay-ThinSlanted.woff') format('woff'), /* Modern Browsers */
         url('MeshedDisplay-ThinSlanted.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-ThinSlanted.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

