/* Webfont: MeshedDisplay-MediumSlanted */@font-face {
    font-family: 'MeshedDisplayMedSlant';
    src: url('MeshedDisplay-MediumSlanted.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-MediumSlanted.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

