/* Webfont: MeshedDisplay-SemiBold */@font-face {
    font-family: 'MeshedDisplaySemBd';
    src: url('MeshedDisplay-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

