/* Webfont: MeshedDisplay-ThinSlanted */@font-face {
    font-family: 'MeshedDisplayThinSlant';
    src: url('MeshedDisplay-ThinSlanted.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-ThinSlanted.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

