/* Webfont: MeshedDisplay-Slanted */@font-face {
    font-family: 'MeshedDisplaySlant';
    src: url('MeshedDisplay-Slanted.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-Slanted.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

