/* Webfont: MeshedDisplay-SemiBoldSlanted */@font-face {
    font-family: 'MeshedDisplaySemBdSlant';
    src: url('MeshedDisplay-SemiBoldSlanted.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-SemiBoldSlanted.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

