/* Webfont: MeshedDisplay-ExtLtSlant */@font-face {
    font-family: 'MeshedDisplayExtLtSlant';
    src: url('MeshedDisplay-ExtLtSlant.woff2') format('woff2'), /* Modern Browsers */
         url('MeshedDisplay-ExtLtSlant.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

